In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
file1=pd.read_csv("file1.csv")

In [4]:
df=pd.DataFrame()
df.head(5)

Empty DataFrame
Columns: []
Index: []

In [5]:
file1.describe(include="all")

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
count,1071,1071,954,1071,1068,1071.000000,1071.000000,1071,1071,1071,1071.000000
unique,1071,8,5,6,1027,NaN,NaN,6,3,6,NaN
top,LN26837,Oregon,F,Bachelor,445811.34%,NaN,NaN,1/0/00,Personal Auto,Four-Door Car,NaN
freq,1,320,457,324,4,NaN,NaN,830,780,576,NaN
mean,NaN,NaN,NaN,NaN,NaN,39295.701214,193.234360,NaN,NaN,NaN,404.986909
std,NaN,NaN,NaN,NaN,NaN,30469.427060,1601.190369,NaN,NaN,NaN,293.027260
min,NaN,NaN,NaN,NaN,NaN,0.000000,61.000000,NaN,NaN,NaN,0.382107
25%,NaN,NaN,NaN,NaN,NaN,14072.000000,68.000000,NaN,NaN,NaN,202.157702
50%,NaN,NaN,NaN,NaN,NaN,36234.000000,83.000000,NaN,NaN,NaN,354.729129
75%,NaN,NaN,NaN,NaN,NaN,64631.000000,109.500000,NaN,NaN,NaN,532.800000
max,NaN,NaN,NaN,NaN,NaN,99960.000000,35354.000000,NaN,NaN,NaN,2893.239678

In [6]:
file2=pd.read_csv("file2.txt", sep='\t')

In [7]:
df=pd.DataFrame()
df.head(5)

Empty DataFrame
Columns: []
Index: []

In [8]:
file2.describe(include="all")

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
count,1015.000000,1015,985,1015.000000,1015.000000,1015.000000,1015.000000,1015.000000,1015.000000,1015.000000,1015.000000,1015.000000,1015.000000,1015.000000,1015.000000,1015,1015.000000
unique,NaN,42,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,NaN
top,NaN,CA,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T2,NaN
freq,NaN,205,504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145,NaN
mean,96351.472906,NaN,NaN,1137.401970,349.104433,440.786207,15.424631,16434.610837,7.115271,55.825616,397.914286,395.131034,11.970404,95.952709,2787.850246,NaN,15.481773
std,57107.922941,NaN,NaN,1048.030341,172.584516,178.826938,28.600285,9695.004583,10.036399,21.376039,185.040178,167.825716,15.314822,1514.092209,2057.395908,NaN,10.591076
min,67.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.439815,0.000000,0.000000,NaN,1.000000
25%,44557.500000,NaN,NaN,532.500000,236.000000,322.000000,0.000000,11064.500000,1.000000,42.000000,282.000000,282.000000,7.107026,0.000000,1101.000000,NaN,10.000000
50%,96031.000000,NaN,NaN,770.000000,311.000000,399.000000,1.000000,14119.000000,3.000000,58.000000,359.000000,355.000000,10.190476,1.000000,2711.000000,NaN,14.000000
75%,147839.500000,NaN,NaN,1258.500000,419.500000,518.500000,12.000000,18674.500000,9.000000,73.000000,467.500000,466.000000,14.250000,2.000000,4501.000000,NaN,20.000000
max,191138.000000,NaN,NaN,5970.000000,1386.000000,1273.000000,99.000000,95913.000000,72.000000,96.000000,1500.000000,1208.000000,450.000000,39002.000000,9310.000000,NaN,100.000000

In [9]:
import glob

In [10]:
df = pd.concat([pd.read_csv(f) for f in glob.glob('file*.csv')], ignore_index = True)

In [11]:
df.shape

(12074, 13)

In [12]:
df.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount', 'State',
       'Gender'],
      dtype='object')

In [13]:
len(df.columns)

13

In [14]:
cols = []
for i in range(len(df.columns)):
    cols.append(df.columns[i].lower())
cols

['customer',
 'st',
 'gender',
 'education',
 'customer lifetime value',
 'income',
 'monthly premium auto',
 'number of open complaints',
 'policy type',
 'vehicle class',
 'total claim amount',
 'state',
 'gender']

In [15]:
df.columns = cols

In [16]:
df.dtypes

customer                      object
st                            object
gender                        object
education                     object
customer lifetime value       object
income                       float64
monthly premium auto         float64
number of open complaints     object
policy type                   object
vehicle class                 object
total claim amount           float64
state                         object
gender                        object
dtype: object

In [17]:
df.head

<bound method NDFrame.head of       customer          st gender             education  \
0      RB50392  Washington    NaN                Master
1      QZ44356     Arizona      F              Bachelor
2      AI49188      Nevada      F              Bachelor
3      WW63253  California      M              Bachelor
4      GA49547  Washington      M  High School or Below
...        ...         ...    ...                   ...
12069  LA72316         NaN    NaN              Bachelor
12070  PK87824         NaN    NaN               College
12071  TD14365         NaN    NaN              Bachelor
12072  UP19263         NaN    NaN               College
12073  Y167826         NaN    NaN               College

      customer lifetime value   income  monthly premium auto  \
0                         NaN      0.0                1000.0
1                  697953.59%      0.0                  94.0
2                 1288743.17%  48767.0                 108.0
3                  764586.18%      0.0                 106.0
4                  536307.65%  36357.0                  68.0
...                       ...      ...                   ...
12069             23405.98798  71941.0                  73.0
12070             3096.511217  21604.0                  79.0
12071             8163.890428      0.0                  85.0
12072             7524.442436  21941.0                  96.0
12073             2611.836866      0.0                  77.0

      number of open complaints     policy type  vehicle class  \
0                        1/0/00   Personal Auto  Four-Door Car
1                        1/0/00   Personal Auto  Four-Door Car
2                        1/0/00   Personal Auto   Two-Door Car
3                        1/0/00  Corporate Auto            SUV
4                        1/0/00   Personal Auto  Four-Door Car
...                         ...             ...            ...
12069                         0   Personal Auto  Four-Door Car
12070                         0  Corporate Auto  Four-Door Car
12071                         3  Corporate Auto  Four-Door Car
12072                         0   Personal Auto  Four-Door Car
12073                         0  Corporate Auto   Two-Door Car

       total claim amount       state gender
0                2.704934         NaN    NaN
1             1131.464935         NaN    NaN
2              566.472247         NaN    NaN
3              529.881344         NaN    NaN
4               17.269323         NaN    NaN
...                   ...         ...    ...
12069          198.234764  California      M
12070          379.200000  California      F
12071          790.784983  California      M
12072          691.200000  California      M
12073          369.600000  California      M

[12074 rows x 13 columns]>

In [18]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

newdf = df.select_dtypes(include=numerics)

In [19]:
newdf.head

<bound method NDFrame.head of         income  monthly premium auto  total claim amount
0          0.0                1000.0            2.704934
1          0.0                  94.0         1131.464935
2      48767.0                 108.0          566.472247
3          0.0                 106.0          529.881344
4      36357.0                  68.0           17.269323
...        ...                   ...                 ...
12069  71941.0                  73.0          198.234764
12070  21604.0                  79.0          379.200000
12071      0.0                  85.0          790.784983
12072  21941.0                  96.0          691.200000
12073      0.0                  77.0          369.600000

[12074 rows x 3 columns]>

In [20]:
categories = ['object']

newdf = df.select_dtypes(include=categories)

In [21]:
newdf.head

<bound method NDFrame.head of       customer          st gender             education  \
0      RB50392  Washington    NaN                Master
1      QZ44356     Arizona      F              Bachelor
2      AI49188      Nevada      F              Bachelor
3      WW63253  California      M              Bachelor
4      GA49547  Washington      M  High School or Below
...        ...         ...    ...                   ...
12069  LA72316         NaN    NaN              Bachelor
12070  PK87824         NaN    NaN               College
12071  TD14365         NaN    NaN              Bachelor
12072  UP19263         NaN    NaN               College
12073  Y167826         NaN    NaN               College

      customer lifetime value number of open complaints     policy type  \
0                         NaN                    1/0/00   Personal Auto
1                  697953.59%                    1/0/00   Personal Auto
2                 1288743.17%                    1/0/00   Personal Auto
3                  764586.18%                    1/0/00  Corporate Auto
4                  536307.65%                    1/0/00   Personal Auto
...                       ...                       ...             ...
12069             23405.98798                         0   Personal Auto
12070             3096.511217                         0  Corporate Auto
12071             8163.890428                         3  Corporate Auto
12072             7524.442436                         0   Personal Auto
12073             2611.836866                         0  Corporate Auto

       vehicle class       state gender
0      Four-Door Car         NaN    NaN
1      Four-Door Car         NaN    NaN
2       Two-Door Car         NaN    NaN
3                SUV         NaN    NaN
4      Four-Door Car         NaN    NaN
...              ...         ...    ...
12069  Four-Door Car  California      M
12070  Four-Door Car  California      F
12071  Four-Door Car  California      M
12072  Four-Door Car  California      M
12073   Two-Door Car  California      M

[12074 rows x 10 columns]>

In [22]:
df = df.drop(['education'],axis=1)

In [23]:
df.head

<bound method NDFrame.head of       customer          st gender customer lifetime value   income  \
0      RB50392  Washington    NaN                     NaN      0.0
1      QZ44356     Arizona      F              697953.59%      0.0
2      AI49188      Nevada      F             1288743.17%  48767.0
3      WW63253  California      M              764586.18%      0.0
4      GA49547  Washington      M              536307.65%  36357.0
...        ...         ...    ...                     ...      ...
12069  LA72316         NaN    NaN             23405.98798  71941.0
12070  PK87824         NaN    NaN             3096.511217  21604.0
12071  TD14365         NaN    NaN             8163.890428      0.0
12072  UP19263         NaN    NaN             7524.442436  21941.0
12073  Y167826         NaN    NaN             2611.836866      0.0

       monthly premium auto number of open complaints     policy type  \
0                    1000.0                    1/0/00   Personal Auto
1                      94.0                    1/0/00   Personal Auto
2                     108.0                    1/0/00   Personal Auto
3                     106.0                    1/0/00  Corporate Auto
4                      68.0                    1/0/00   Personal Auto
...                     ...                       ...             ...
12069                  73.0                         0   Personal Auto
12070                  79.0                         0  Corporate Auto
12071                  85.0                         3  Corporate Auto
12072                  96.0                         0   Personal Auto
12073                  77.0                         0  Corporate Auto

       vehicle class  total claim amount       state gender
0      Four-Door Car            2.704934         NaN    NaN
1      Four-Door Car         1131.464935         NaN    NaN
2       Two-Door Car          566.472247         NaN    NaN
3                SUV          529.881344         NaN    NaN
4      Four-Door Car           17.269323         NaN    NaN
...              ...                 ...         ...    ...
12069  Four-Door Car          198.234764  California      M
12070  Four-Door Car          379.200000  California      F
12071  Four-Door Car          790.784983  California      M
12072  Four-Door Car          691.200000  California      M
12073   Two-Door Car          369.600000  California      M

[12074 rows x 12 columns]>

In [24]:
df = df.drop(['number of open complaints'],axis=1)

In [25]:
df.head

<bound method NDFrame.head of       customer          st gender customer lifetime value   income  \
0      RB50392  Washington    NaN                     NaN      0.0
1      QZ44356     Arizona      F              697953.59%      0.0
2      AI49188      Nevada      F             1288743.17%  48767.0
3      WW63253  California      M              764586.18%      0.0
4      GA49547  Washington      M              536307.65%  36357.0
...        ...         ...    ...                     ...      ...
12069  LA72316         NaN    NaN             23405.98798  71941.0
12070  PK87824         NaN    NaN             3096.511217  21604.0
12071  TD14365         NaN    NaN             8163.890428      0.0
12072  UP19263         NaN    NaN             7524.442436  21941.0
12073  Y167826         NaN    NaN             2611.836866      0.0

       monthly premium auto     policy type  vehicle class  \
0                    1000.0   Personal Auto  Four-Door Car
1                      94.0   Personal Auto  Four-Door Car
2                     108.0   Personal Auto   Two-Door Car
3                     106.0  Corporate Auto            SUV
4                      68.0   Personal Auto  Four-Door Car
...                     ...             ...            ...
12069                  73.0   Personal Auto  Four-Door Car
12070                  79.0  Corporate Auto  Four-Door Car
12071                  85.0  Corporate Auto  Four-Door Car
12072                  96.0   Personal Auto  Four-Door Car
12073                  77.0  Corporate Auto   Two-Door Car

       total claim amount       state gender
0                2.704934         NaN    NaN
1             1131.464935         NaN    NaN
2              566.472247         NaN    NaN
3              529.881344         NaN    NaN
4               17.269323         NaN    NaN
...                   ...         ...    ...
12069          198.234764  California      M
12070          379.200000  California      F
12071          790.784983  California      M
12072          691.200000  California      M
12073          369.600000  California      M

[12074 rows x 11 columns]>

In [26]:
df['customer lifetime value']

0                NaN
1         697953.59%
2        1288743.17%
3         764586.18%
4         536307.65%
            ...
12069    23405.98798
12070    3096.511217
12071    8163.890428
12072    7524.442436
12073    2611.836866
Name: customer lifetime value, Length: 12074, dtype: object

In [27]:
df['customer lifetime value'] =  pd.to_numeric(df['customer lifetime value'], errors='coerce')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [28]:
df['customer lifetime value'] = df['customer lifetime value']*100

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [29]:
df['customer lifetime value']

0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
             ...
12069    2.340599e+06
12070    3.096511e+05
12071    8.163890e+05
12072    7.524442e+05
12073    2.611837e+05
Name: customer lifetime value, Length: 12074, dtype: float64

In [30]:
df['customer lifetime value'] = pd.to_numeric(df['customer lifetime value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.